{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "@schascha/eslint-config"
  ],
  "plugins": [
    "jest"
  ]
}
