$base-color: #1d1d1d;
$bitchify-color: #c00;
$color-white: #fff;
$color-black: #000;

/* ------------------------------------
   BASE
   ------------------------------------ */

html {
	box-sizing: border-box;
	color: $base-color;
	font-family: 'Lora', serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.5;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;

	&,
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

/* ------------------------------------
   TYPOGRAPHY
   ------------------------------------ */

h1 {
	font-size: 2em;

	&::after {
		content: '';
		display: block;
		margin: 1em 0;
		width: 3em;
		height: 1px;
		background-color: currentColor;
	}
}

h2 {
	margin: 1em 0;
	font-size: 1.5em;
}

p {
	margin-bottom: 1em;
}

a {
	color: inherit;
}

/* ------------------------------------
   LAYOUT
   ------------------------------------ */

header {
	box-shadow: 0 1px 2px rgba($color-black, 0.1);
	text-align: center;

	p {
		margin: 1rem 0;
		font-size: 0.75rem;
	}

	span {
		display: inline-block;
		margin: 0 2px;
		width: 2em;
		background-color: #eee;
		border-radius: 3px;
	}
}

footer {
	padding: 1rem 1.5rem 3rem;
	text-align: center;
}

.container {
	margin: 0 auto;
	padding: 3em 1.5em;
	max-width: 45em;

	> *:last-child {
		margin-bottom: 0;
	}
}

.button {
	transition: all 0.2s ease-out;
	cursor: pointer;
	display: inline-block;
	padding: 0 2em;
	background: $bitchify-color;
	border: 0;
	border-radius: 3px;
	color: $color-white;
	font-family: inherit;
	font-size: inherit;
	font-weight: bold;
	line-height: 2.5;
	text-align: center;
	text-decoration: none;

	&:hover {
		background: lighten($base-color, 20%);
	}

	&:active {
		transform: scale(0.95);
	}

	&:disabled {
		cursor: default;
		background: lighten($base-color, 60%);
	}
}

.bitchify {
	color: $bitchify-color;
}
